*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: small;
}
.container {
    height: 100vh;
    width: 70%;
    padding: 20px;
    margin: auto;
}
.header {
    /* border: 1px solid black; */
    height: 5%;
    width: 100%;
    text-align: center;
}
.form-area {
    border: 3px dashed black;
    height: 95%;
    width: 100%;
    /* background-image: linear-gradient(blue, cyan, pink); */
}
h3 {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
    font-size: 18px;
}
form {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(blue, cyan, pink);
    padding: 10px;
    color: white;
}
table{
    width: 100%;
    padding: 5px;
    height: 95%;
}
#column1 {
    width: 25%;
    margin-bottom: 10px;
}
#column2 {
    width: 75%;
}
input[type="text"] {
    padding-left: 5px;
}
li {
    list-style-type: none;
}
.button-class {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
button {
    /* border: none; */
    height: 25px;
    width: 75px;
    font-weight: lighter;
}
